<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cadastre-se</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="./css/estilo.css">
</head>

<body>
	 <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-success">
                <a class="navbar-brand" href="#">VoaBrasil</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                      <li class="nav-item active">
                          <a class="nav-link" th:href="@{/}">Home<span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item active">
                          <a class="nav-link" th:href="@{/destino}">Destino</a>
                      </li>
                      <li class="nav-item active">
                          <a class="nav-link" th:href="@{/contato}">Contato</a>
                      </li>
                      <li class="nav-item active">
                          <a class="nav-link" th:href="@{/promocoes}">Promoções</a>
                      </li>
                      <li class="nav-item active">
                          <a class="nav-link" th:href="@{/usuario/cadastrar}">CadastroUsuario</a>
                      </li>
                      <li class="nav-item active">
                          <a class="nav-link" th:href="@{/destinos/cadastrar}">CadastroDestino</a>
                      </li>
                      <li class="nav-item active">
                          <a class="nav-link" th:href="@{/passagem/cadastrar}">CadastroPassagem</a>
                      </li>
                      <li class="nav-item active">
                           <a class="nav-link" th:href="@{/usuario}">Usuarios</a>
                      </li>
                      <li class="nav-item active">
                           <a class="nav-link" th:href="@{/destinos}">Destinos</a>
                      </li>
                      <li class="nav-item active">
                           <a class="nav-link" th:href="@{/passagem}">Passagens</a>
                      </li>
                    </ul>
                  </div>
            </nav>
        </header>

	<main>
		<div class="container mt-5">
			<h1 class="mb-4">Cadastro de Usuário</h1>
			<form method="post" th:object="${usuario}">
				<div class="mb-3">
					<label for="nome" class="form-label">Nome:</label>
					<input type="text" class="form-control" id="nome" placeholder="Digite seu nome" th:field="*{nome}"
						required>
				</div>
				<div class="mb-3">
					<label for="rg" class="form-label">RG:</label>
					<input type="text" class="form-control" id="rg" placeholder="Digite seu RG" th:field="*{rg}"
						required>
				</div>
				<div class="mb-3">
					<label for="cpf" class="form-label">CPF:</label>
					<input type="text" class="form-control" id="cpf" placeholder="Digite seu CPF" th:field="*{cpf}"
						required>
				</div>
				<div class="mb-3">
					<label for="telefone" class="form-label">Telefone:</label>
					<input type="text" class="form-control" id="telefone" placeholder="Digite seu telefone"
						th:field="*{telefone}" required>
				</div>
				<div class="mb-3">
					<label for="email" class="form-label">E-mail:</label>
					<input type="email" class="form-control" id="email" placeholder="exemplo@email.com"
						th:field="*{email}" required>
				</div>
				<div class="mb-3">
					<label for="senha" class="form-label">Senha:</label>
					<input type="password" class="form-control" id="senha" placeholder="Digite sua senha"
						th:field="*{senha}" required>
				</div>

				<button type="submit" class="btn btn-success">Cadastrar</button>
			</form>
		</div>

		<!--            <div class="container mt-5">-->
		<!--                <h1 class="mb-4">Cadastro de Passagem</h1>-->
		<!--                <form action="./passagem-save">-->
		<!--					<div class="mb-3">-->
		<!--                        <label for="idusuario" class="form-label">ID Usuario:</label>-->
		<!--                        <input type="text" class="form-control" id="idusuario" placeholder="Digite o ID do Usuario" name="usuario" required>-->
		<!--                    </div>-->
		<!--                    <div class="mb-3">-->
		<!--                        <label for="iddestino" class="form-label">ID Destino:</label>-->
		<!--                        <input type="text" class="form-control" id="iddestino" placeholder="Digite o ID do Destino" name="destino" required>-->
		<!--                    </div>-->
		<!--                    <div class="mb-3">-->
		<!--                        <label for="preco" class="form-label">Preço:</label>-->
		<!--                        <input type="text" class="form-control" id="preco" placeholder="Digite o preco" name="preco" required>-->
		<!--                    </div>-->
		<!--                    <div class="mb-3">-->
		<!--                        <label for="horario" class="form-label">Horario:</label>-->
		<!--                        <input type="text" class="form-control" id="horario" placeholder="Digite o horario" name="horario" required>-->
		<!--                    </div>-->
		<!--                    <div class="mb-3">-->
		<!--                        <label for="dataIda" class="form-label">Data ida:</label>-->
		<!--                        <input type="text" class="form-control" id="dataIda" placeholder="Digite a data de ida" name="dataIda" required>-->
		<!--                    </div>-->
		<!--                    <div class="mb-3">-->
		<!--                        <label for="dataVolta" class="form-label">Data volta:</label>-->
		<!--                        <input type="text" class="form-control" id="dataVolta" placeholder="Digite a data de volta" name="dataVolta" required>-->
		<!--                    </div>-->

		<!--                    <button type="submit" class="btn btn-success">Cadastrar</button>-->
		<!--                </form>-->
		<!--            </div>-->

<!--		            <div class="container mt-5">-->
<!--		                <h1 class="mb-4">Cadastro de Destino</h1>-->
<!--		                <form method="post" th:object="${destino}">-->
<!--		                    <div class="mb-3">-->
<!--		                        <label for="cidade" class="form-label">Cidade:</label>-->
<!--		                        <input type="text" class="form-control" id="cidade" placeholder="Digite a cidade" th:field="*{cidade}" required>-->
<!--		                    </div>-->
<!--		                    <div class="mb-3">-->
<!--		                        <label for="estado" class="form-label">Estado:</label>-->
<!--		                        <input type="text" class="form-control" id="estado" placeholder="Digite o estado" th:field="*{estado}" required>-->
<!--		                    </div>                                                                                                                                                                                                      -->
<!--		                    <button type="submit" class="btn btn-success">Cadastrar</button>                  -->
<!--		                </form>-->
<!--		            </div>-->
<!--		        </main>-->

		<br>

		<footer class="bg-dark text-white py-4">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
						<h5>Contato</h5>
						<p>Email: contato@voabrasil.com</p>
						<p>Telefone: (XX) XXXX-XXXX</p>
						<p>Site desenvolvido por Gustavo Carvalho</p>
					</div>
					<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
						<h5>Redes Sociais</h5>
						<ul class="list-unstyled">
							<li><a href="https://www.facebook.com/">Facebook</a></li>
							<li><a href="https://www.instagram.com/">Instagram</a></li>
							<li><a href="https://twitter.com/">Twitter</a></li>
						</ul>
					</div>
					<div class="col-lg-4 col-md-12">
						<h5>Endereço</h5>
						<p>Rua VoaBrasil, 100</p>
						<p>Natal - RN</p>
					</div>
				</div>
			</div>
		</footer>

		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>